{% extends "front/base_update.html" %}
{% load static from staticfiles %}

{% block nemo_styles %}
{% endblock %}

{% block app_css %}
<link rel="stylesheet" href="{%static 'askcfpb/css/askcfpb.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static "jquery/jquery-ui-1.9.2.custom.min.css" %}"/>

{% endblock %}



{% block page_viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block responsive_nav %}
<a class="toggle-menu" href="#"><i class="cf-icon cf-icon-menu"></i><span class="u-visually-hidden">Menu</span></a>
{% endblock %}

{% block app_js %}
 <!--[if lt IE 9]><script src='{% static "askcfpb/js/ie8.min.js" %}'></script><![endif]-->
<script src='{% static "jquery/jquery-ui-1.9.2.custom.min.js" %}'></script>
<script src='{% static "askcfpb/js/askcfpb.js" %}'></script>

<script>var searchAPI= '{% url "api-search" %}';</script>
{% endblock %}


{% block nemo_js %}
{% endblock %}
